<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Resume App</h1>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quam sequi quos in ipsa, fugiat molestiae odio, necessitatibus perspiciatis amet veritatis nostrum neque. Quaerat, repudiandae commodi porro architecto magni laudantium?
        Dolor facere, distinctio dicta labore voluptas nemo itaque maxime! Nisi quos repudiandae beatae perferendis necessitatibus ab impedit quae! Quos neque totam vel tempora consectetur nam, perferendis illo suscipit natus possimus.
        Enim officiis perspiciatis fuga, reiciendis odit voluptates, veritatis voluptate, dignissimos ipsam cumque dolores? Nostrum quisquam nesciunt maiores exercitationem expedita, molestias tempora! Incidunt at dignissimos placeat odio nemo nostrum ullam velit?
        Harum, expedita non? Commodi totam deserunt, id rerum consequuntur, iste adipisci modi ea obcaecati laboriosam, eos fugiat eaque repellendus alias placeat minus molestiae consequatur iure. Et asperiores dicta porro aut?
        Dolorem, explicabo repudiandae magni, pariatur reprehenderit consequuntur consequatur deserunt ad dicta tempore placeat, vitae corrupti blanditiis est omnis eius similique accusamus fugiat commodi itaque labore voluptates beatae provident aliquid! Temporibus.
    </p>
    <br>
    <br>
    <br>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    <br>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


</body>
</html>